<img
  height='100'
  width='100'
  src='https://docs.nestjs.com/assets/logo-small.svg'
  alt=''
/>
<ul>
  <li>
    <span>id</span>
    <span>{{id}}</span>
  </li>
  <li>
    <span>token</span>
    <span>{{token}}</span>
  </li>
  <li>
    <span>host</span>
    <span>{{host}}</span>
  </li>
  <li>
    <span>ip</span>
    <span>{{ip}}</span>
  </li>
  <li>
    <span>count</span>
    <span>{{count}}</span>
  </li>
</ul>